body {
  background-color: #231f20;
}

.description {
  color: #c8c7c7;
}

.description a {
  color: #fff;
}

.description a:hover,
.description a:focus  {
  color: #c8c7c7;
}

::-moz-selection {
  text-shadow: none;
color: #fff;
  background: #1f1c1d;
}

::selection {
  text-shadow: none;
color: #fff;
  background: #1f1c1d;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: #1f1c1d;
}